@model IEnumerable<IngresosGastos.Models.IngresoGasto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lista de Ingresos & Gastos</h1>

@* se requiere crear un formulario para capturar el mes y anio*@

<br />

<form class="row g-3" asp-action="index">
    <div class="col-auto">
        <label>Mes</label>
    </div>
    <div class="col-auto">
        <input type="number" class="form-control text-right" name="mesV" min="1" max="12" value="@ViewBag.mesV" />
    </div>
    <div class="col-auto">
        <label>Año</label>
    </div>
    <div class="col-auto">
        <input type="number" class="form-control text-right" name="anioV" min="1" max="3000" value="@ViewBag.anioV" />
    </div>
    <div class="col-auto">
        <input type="submit" value="Consultar" class="btn btn-primary" />
    </div>
</form>

<br/>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nuevo</a>
</p>
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.NombreCategoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
               @*  @Html.DisplayFor(modelItem => item.Valor) *@
                    @if (item.Categoria.Tipo == "IN")
                    {
                        <p class="text-primary text-right">@Html.DisplayFor(modelItem => item.Valor)</p>
                    }
                    else
                    {
                        <p class="text-danger text-right">@Html.DisplayFor(modelItem => item.Valor)</p>
                    }
                    @*texto que cambiar de color con el tipo GA o IN, y justificado a la derecha*@
            </td>
            <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a class="btn btn-danger"  asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
